# Dependency directories
node_modules/
npm-debug.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Testing
coverage/
